---
- name: Wait for system management lock to be released
  become: true
  command: zypper --non-interactive ps
  register: lock_check
  retries: 5
  delay: 15
  until: lock_check.rc == 0
  failed_when:
    - lock_check.rc != 0
    - "'System management is locked by the application' not in lock_check.stderr"
  ignore_errors: true

- name: Check if system is already registered
  become: true
  command: "SUSEConnect --status-text"
  register: scc_status
  ignore_errors: true

- name: Register
  become: true
  ansible.builtin.shell: |
    {% if "Micro" in ansible_facts.distribution %}
    transactional-update register --url {{ scc_registration.server | default("https://scc.suse.com") }} --email {{ scc_registration.email }} --regcode "{{ scc_registration.sle_micro_code }}"
    {% else %}
    SUSEConnect --url {{ scc_registration.server | default("https://scc.suse.com") }} --email {{ scc_registration.email }} --regcode "{{ scc_registration.sles_code }}"
    {% endif %}
  register: register_result
  when: "'Not Registered' in scc_status.stdout"
  failed_when: false # validation in next task

- name: Fail if registration unsuccessful
  ansible.builtin.fail:
    msg: "System registration failed. Check the registration"
  when: 
    - "'Not Registered' in scc_status.stdout"
    - (register_result.rc != 0 or 'Error' in register_result.stdout or 'Not Registered' in register_result.stdout)

