---

- name: Add Rancher helm repo
  kubernetes.core.helm_repository:
    repo_url: "{{ rancher_helm_repo_url }}"
    name: "{{ rancher_helm_repo_name }}"
    state: present

- name: Validate rancher chart version exists
  ansible.builtin.command:
    cmd: >
      helm show chart {{ rancher_helm_chart_ref }} --version {{ rancher_version }}
  register: helm_version_check
  changed_when: false

- name: Fail if rancher helm chart version does not exist
  ansible.builtin.fail:
    msg: "Helm chart version {{ rancher_version }} does not exist in repo {{ rancher_helm_repo_url }}"
  when: helm_version_check.rc != 0

- name: Copy rancher-values.yaml
  template:
    src: rancher-values.yaml.j2
    dest: ~/rancher-values.yaml

- name: Deploy rancher helm chart
  shell: |
    helm upgrade --install {{ rancher_release }} {{ rancher_helm_chart_ref }} --atomic \
    --version {{ rancher_version }} --create-namespace --namespace {{ rancher_namespace }} \
    -f rancher-values.yaml
  register: rancher_deploy_result
  until: rancher_deploy_result.rc == 0
  retries: 10
  delay: 30

- name: Wait for Rancher to be rolled out
  shell: >
    kubectl -n {{ rancher_namespace }} rollout status deploy/{{ item }}
  register: rancher_rollout_result
  retries: 12
  delay: 30
  with_items:
    - "{{ rancher_release }}"
    - "{{ rancher_release }}-webhook"
  until: "'successfully rolled out' in rancher_rollout_result.stdout"
